{
  "extends": "umi",
  "rules": {
    "dot-location": [
      "error",
      "object"
    ],
    "no-var": "error",
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ]
  }
}
